.action-button {
  margin: 15px 0px;
}
.action-col {
  padding: 80px 0px;
  text-align: center;
  vertical-align: middle;
}
.pageTitle {
  text-align: center;
}
.table-title {
  font-size: 2em;
  text-align: center;
}
body {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.table th {
  font-size: 1.1em;
  border-top: none;
}
.statusBox {
    margin: auto;
    border: 1px solid #c3c3c3;
    width: 35px;
    height: 15px;
}
.schemaUpdateNeeded {
    background-color: red;
    border: 1px solid #c3c3c3;
}
.dataUpdateNeeded {
    background-color: yellow;
    border: 1px solid #c3c3c3;
}
.uptodate {
    background-color: #65d265;
    border: 1px solid #c3c3c3;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}