<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/static/style.css">

<title>menu</title>
</head>
<body>
    <div class="centerbin">
        <form class="pure-form pure-form-stacked" method="post" action="home">
            <fieldset>
            <input type="text" placeholder="Username", name="username">
            <button type="submit" class="pure-button pure-button-primary">Login</button>
            </fieldset>
        </form>
    </div>

</body>
</html>