<!DOCTYPE html>
<html>
<head>
    <title>Qual2db 3.0.X</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--JS-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.jqueryui.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../static/qual2db.js"></script>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.jqueryui.min.css" />
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">


</head>

<body>
    <header>Qual2db 3.0.x</header>

    <div class="container-fluid">
        <form method="post" action="update">

            <div class="w3-row-padding">
                <!-- In Qualtrics -->
                <div class="w3-third">
                    <table id="qualtrics-table" class="display">
                        <thead>
                            <tr>
                                <th>Survey Name</th>
                                <th>In Database</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            ${not_in_db_rows}
                        </tbody>
                    </table>
                </div>
             
                <!-- Menu Panel -->
                <div class="w3-third">
                    <div class="w3-card-padding w3-margin text-center">
                        <div style="position:fixed">
                            <button type="submit" onclick="loadSpinner()" class="pure-button pure-button-primary">Save</button>
                            <div id="loader" style="display:none"></div>
                        </div>
                    </div>
                </div>

                <!-- In SQL Database -->
                <div class="w3-third">
                    <div class="w3-card">
                        <table id="exported-table" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Survey Name</th>
                                    <th>In Database</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                ${in_db_rows}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </form>
    </div>
</body>
</html>